/* font: import ================================================ */

@font-face {
  font-family: 'Menlo';
  src: url('font/Menlo-Regular_RadioClub.woff') format('woff');
  src: url('font/Menlo-Regular_RadioClub.woff2') format('woff2');
}

/* @font-face {
  font-family: 'Menlo';
  src: url('https://communalradio.club/font/Menlo-Regular_RadioClub.woff') format('woff');
  src: url('https://communalradio.club/font/Menlo-Regular_RadioClub.woff2') format('woff2');
} */


html,
body {
  font-family: Menlo;
  /*   font-family: monospace; */
  font-size: 12px;
  text-align: left;
  /* letter-spacing: 0.027em; */
  line-height: 12px;
  color: red;
}

::selection {
  color: green;
  text-shadow: 0 0px 6px yellow;
  background: red;
}

a {
  color: red;
  text-decoration: none;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}