* { 
  box-sizing: border-box; 
}

html,body{
  width: 100vw;
  height: 100vh;
  margin:0;
  padding:0;
  overflow: auto;
/*   background: green; */
}

#content {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
  align-items: flex-end;
  direction: rtl;
  text-align: justify;
}

.infoItem {
  direction: ltr;
}

.item {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  border: none;
  text-align: center;
  direction: ltr;
  overflow: hidden;
}

.item1 {
  width: 250px;
  height: 190px;
}

/* .item1:before {
  text-orientation: upright;
  word-break: break-all;
  content: "████|░░░░░░░░░░\A";
  text-align: right;
}

.item1:after {
  text-orientation: upright;
  content: "\A░░░░░░░░░░|████";
  text-align: left;
} */

.item2 {
  width: 100px;
  height: 100px;
  background: red;
  color: blue;
}


.item3 {
  width: 100px;
  height: 100px;
  color: green;
}


.roof1 {
  grid-area: 1 / 1 / 2 / 4; 
  width: 250px;
  word-wrap: break-word;
}

.wall1 {
  grid-area: 2 / 1 / 4 / 4; 
  width: 250px;
  word-wrap: break-word;
}

.wall2 {
  grid-area: 2 / 1 / 4 / 4; 
  width: 100px;
  word-wrap: break-word;
}

.wall3 {
  grid-area: 2 / 1 / 4 / 4; 
  width: 100px;
  word-wrap: break-word;
}

.textSign {
  grid-area: 2 / 2 / 3 / 3;
  width: 80px;
  background: white;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

