* { 
  box-sizing: border-box; 
}

html,body{
  width: 100vw;
  height: 100vh;
  margin:0;
  padding:0;
  overflow: auto;
}

#content {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: end;
  align-content: flex-end;
  direction: rtl;
  text-align: justify;
  gap: 50px 10px;
}

#landscape {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: end;
  align-content: flex-end;
  direction: rtl;
  text-align: justify;
  gap: 50px 10px;
  z-index: 2;
}


.infoItem {
  direction: ltr;
}

.item {
  width: 240px;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 100px 1fr;
  gap: 0px 0px;
  border: none;
  text-align: center;
  direction: ltr;
  overflow: hidden;
}

.color1 {
  color: red;
}

.color2 {
  color: blue;
}

.color3 {
  color: green;
}

.roof1 {
  grid-area: 1 / 1 / 2 / 4;
  word-wrap: break-word;
}

.roof2 {
  grid-area: 1 / 1 / 2 / 4;
  word-wrap: break-word;
}

.roof3 {
  grid-area: 1 / 1 / 2 / 4;
  word-wrap: break-word;
}

.text1 {
  grid-area: 2 / 2 / 3 / 3;
  background: white;
  z-index: 2;
}

.text2 {
  grid-area: 2 / 2 / 3 / 3;
  background: white;
  z-index: 2;
}

.text3 {
  grid-area: 2 / 2 / 3 / 3;
  background: white;
  z-index: 2;
}

/* .text1:before {
  text-orientation: upright;
  word-break: break-all;
  content: "█░\A";
  text-align: right;
}

.text1:after {
  text-orientation: upright;
  content: "\A░█";
  text-align: left;
} */


.wall1 {
  grid-area: 2 / 1 / 4 / 4;
  word-wrap: break-word;
  overflow: hidden;
}

.wall2 {
  grid-area: 2 / 1 / 4 / 4;
  word-wrap: break-word;
  overflow: hidden;
}

.wall3 {
  grid-area: 2 / 1 / 4 / 4;
  word-wrap: break-word;
  overflow: hidden;
}


.size1 {
  height: 72px;
}

.size2 {
  height: 96px;
}

.size3 {
  height: 120px;
}

.gardenR1 {
  width: 24px;
  margin-right: 12px;
  margin-left: auto;
  grid-area: 2 / 3 / 4 / 4;
  word-wrap: break-word;
  z-index: 2;
  color: #00FF00;
}

.gardenR2 {
  width: 24px;
  margin-right: 12px;
  margin-left: auto;
  grid-area: 2 / 3 / 4 / 4;
  word-wrap: break-word;
  z-index: 2;
  color: #00FF00;
}

.gardenR3 {
  grid-area: 2 / 3 / 4 / 4;
  word-wrap: break-word;
  z-index: 2;
}




.tree {
  margin: 0 auto;
  border: none;
  text-align: center;
  direction: ltr;
  overflow: hidden;
}

.tree1 {
  width: 96px;
  word-wrap: break-word;
}

.tree2 {
  width: 80px;
  /* width: 200px;
  margin: 0 20px; */
}

.tree3 {
  width: 80px;
  /* width: 200px;
  margin: 0 20px; */
}
/* .textSign {
  grid-area: 2 / 2 / 3 / 3;
  width: 80px;
  background: white;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

