/* font: import /* ======================================================================================================================================= */
@font-face {
  font-family: 'Menlo';
  src: url('https://communalradio.club/font/Menlo-Regular_RadioClub.woff') format('woff');
  src: url('https://communalradio.club/font/Menlo-Regular_RadioClub.woff2') format('woff2');
}


/* ======================================================================================================================================= */
/* #uppy {
  display: none;
} */

@media only screen and (max-width:800px) {
  #uppy {
    display: block;
  }
}


/* ======================================================================================================================================= */
button {
  font-family: 'Menlo';
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  color: white;
  /* text-shadow: 0 0px 1px white; */
  cursor: pointer;
}

/* ======================================================================================================================================= */
/* 0. Position + Z-index */
/* ============================================= */

.uppy-Root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  position: fixed;
  /* width: 100% !important;
  height: 100% !important; */
  top: 0;
  left: 0;
  font-family: 'Menlo';
  z-index: 3;
}

.uppy-Dashboard-inner {
  width: auto !important; 
  height: auto !important; 
}

.uppy-Dashboard-dropFilesHereHint {
  display: none;
}






/* ============================================= */
/* 1. Dashboard: Camera Icon Area */
/* ============================================= */
/* Camera Icon: Position */
.uppy-Dashboard-AddFiles {
  position: fixed;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 3;
}

.uppy-Dashboard-AddFiles-title {
  display: none;
}

.uppy-Dashboard-AddFiles-info {
  display: none;
}

/* Camera Icon: Button Height */
.uppy-DashboardTab {
  height: 45px;
}

/* Camera Icon: Button */
.uppy-DashboardTab-btn {
  width: 45px;
  height: 45px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-image: url("icon/camera.svg");
  background-color: red;
  box-shadow: 0 1px 1px 0 #0000001a, 0 1px 2px 0 #0000001a, 0 2px 3px 0 #00000005;
}

/* Camera Icon: Original SVG */
.uppy-DashboardTab-inner {
  display: none;
}
/* Camera Icon: Text */
.uppy-DashboardTab-name {
  display: none;
}


/* ======================================================================================================================================= */
/* 2. WebCam: Container */
/* ============================================= */
/* Container: Area */
.uppy-Webcam-videoContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* height: calc(100% - 85px); */
  background-color: black;
}

/* Container: Camera Area */
.uppy-Webcam-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding-top: 45px;
  padding-bottom: 85px;
  max-width: 100%;
  max-height: 100%;
}


/* ============================================= */
/* 2. WebCam: Header */
/* ============================================= */
/* Header: Area */
.uppy-DashboardContent-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: 45px;
  z-index: 4;
}

/* Header: Title Text */
.uppy-DashboardContent-title {
  display: none;
}

/* Header: Back Button */
.uppy-DashboardContent-back {
  height: 45px;
  margin-left: 8px;
  padding: 0 10px !important;
  border: none;
}


/* ============================================= */
/* 2. WebCam: Camera Icon Area */
/* ============================================= */
/* Camera Icon: Position */
.uppy-Webcam-footer {
  position: fixed;
  bottom: 20px;
  left: 50%;
  padding: 0;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  font-size: 0;
  z-index: 4;
}


/* ============================================= */
/* 2. WebCam: Camera Icon */
/* ============================================= */
/* Camera Icon: Button Height */
.uppy-Webcam-buttonContainer {
  height: 45px;
}

/* Camera Icon: Button */
.uppy-Webcam-button {
  width: 45px;
  height: 45px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-image: url("icon/camera.svg");
  background-color: red !important;
}

/* Camera Icon: Original SVG */
.uppy-Webcam-button svg {
  display: none !important;
}


/* ============================================= */
/* 3. Upload 1 File: Camera On Permission
/* ============================================= */
.uppy-Webcam-permissons {
  display: none;
}

.uppy-Webcam-permissonsIcon {
  display: none;
}

/* ============================================= */
/* 3. Upload 1 File: Hearder
/* ============================================= */
/* Icon: Upload More */
.uppy-DashboardContent-addMore {
  display: none;
}


/* ============================================= */
/* 3. Upload 1 File: Captured Image
/* ============================================= */
/* Captured Image: Calculate Area */
.uppy-Dashboard-files {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* height: calc(100% - 85px); */
  /* padding: 0 !important;
  display: flex;
  align-items: center; */
}

/* Captured Image: Position */
.uppy-Dashboard-Item-preview {
  /* position: fixed;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: calc(100svh - 65px);
  margin: 0;
  padding: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}

.uppy-Dashboard-Item-previewInnerWrap {
  padding: 45px 20px 85px 20px !important;
  background-color: transparent !important;
  /* align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%; */
}

.uppy-Dashboard-filesInner {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  background: black;
  /* background: black; */
  /* align-items: center;
  display: flex;
  height: 100%;
  justify-content: center; */
}

/* Captured Image: Background */
/* .uppy-Dashboard-Item {
  background: black;
} */


/* Captured Image: Remove Icon */
.uppy-Dashboard-Item-fileInfoAndButtons {
  display: none;
}

/* Captured Image: Captured Photo Img */
.uppy-Dashboard-Item-previewImg {
  width: 100%;
  border-radius: 10px;
  /* padding: 45px 10px 85px 10px; */
  /* padding: 10px; */
  /* position: fixed;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}



/* ============================================= */
/* 3. Upload 1 File: Captured Image > Fail
/* ============================================= */
/* 나중에 수정하기 / 촬영 실패시 프리뷰 이미지 */
.uppy-Dashboard-Item-previewIconWrap {
  display: none; 
}

/* ============================================= */
/* 3. Upload 1 File: Footer > Upload Button Area
/* ============================================= */
/* Upload Button: Footer */
.uppy-Dashboard-progressindicators {
  position: fixed;
  bottom: 0;
  left: 0;
  width: auto;
  /* width: 100%; */
  height: 85px;
  padding-top: 20px;
  /* background: black; */
}

/* ============================================= */
/* 3. Upload 1 File: Footer > Upload Button Area */
/* ============================================= */
/* Upload Icon: Area */
.uppy-StatusBar-actions {
  position: fixed;
  bottom: 20px;
  left: 50%;
  padding: 0;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  font-size: 0;
  z-index: 4;
}



/* ============================================= */
/* 3. Upload 1 File: Footer > Upload Button
/* ============================================= */
/* Upload Icon: bg */
.uppy-StatusBar.is-waiting .uppy-StatusBar-actionBtn--upload {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url("icon/upload.svg");
  background-color: blue;
  font-size: 0;
}



/* ============================================= */
/* 3. Upload 1 File: Upload Loading
/* ============================================= */
/* Upload Loading */
.is-uploading {
  position: fixed !important;
  bottom: 20px !important;
  left: 50% !important;
  padding: 0 !important;
  margin: 0 !important;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 45px !important;
  height: 45px !important;
  border-radius: 50% !important;
  /* background-image: url("icon/camera.svg"); */
  background-color: white !important;
}

/* Upload Loading */
.is-postprocessing {
  position: fixed !important;
  bottom: 20px !important;
  left: 50% !important;
  padding: 0 !important;
  margin: 0 !important;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 45px !important;
  height: 45px !important;
  border-radius: 50% !important;
  /* background-image: url("icon/camera.svg"); */
  background-color: gray !important;
}

/* Upload Loading: Upload 1 File Text */
.uppy-StatusBar-actionBtn--upload {
  font-size: 0 !important;
}

/* Upload Loading: Circle Buttons (Pause / Cancle) */
.uppy-StatusBar-actionCircleBtn {
  display: none !important;
}



/* ======================================================================================================================================= */
/* 4. Upload Complete
/* ============================================= */


/* ============================================= */
/* 4. Upload Complete: Captured Image
/* ============================================= */
/* Captured Image: Completed Icon */
.uppy-Dashboard-Item-progress {
  display: none;
}


/* ============================================= */
/* 4. Upload Complete: Footer > Area
/* ============================================= */
/* Footer: Menu Buttons Area */
.uppy-StatusBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}

/* Footer: Complete Text Margin Left */
.uppy-StatusBar-content {
  display: none;
  /* height: 45px; */
  margin-left: 20px;
  margin-right: auto;
  text-transform: uppercase;
}

/* Footer: Done Button */
.uppy-StatusBar-actionBtn--done {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url("icon/done.svg");
  background-color: green;
  font-size: 0;
}

.uppy-StatusBar-statusIndicator .uppy-c-icon svg {
  display: none;
}

/* ============================================= */
/* 4. Upload Complete: Footer > is-uploading
/* ============================================= */
/* .uppy-StatusBar .is-uploading {
  display: none !important;
} */

/* ============================================= */
/* 4. Upload Complete: Footer > Progress Bar
/* ============================================= */
/* Progress Bar */
.uppy-StatusBar-progress {
  display: none;
  /* position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: green;
  transition: background-color, width .3s ease-out; */
}





/* ======================================================================================================================================= */
[data-uppy-acquirer-id="MyDevice"] {
  display: none !important;
}